<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="usa.proyecto.mipanaderia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Panceto"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiPanaderia">
        <activity
            android:name=".Sucursales"
            android:exported="false" />
        <activity
            android:name=".Servicios"
            android:exported="false" />
        <activity
            android:name=".Productos"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>